@charset "utf-8";
body, div, h1, h2, h3, ul, li, ol, table, tr, td {
    margin: 0;
    padding: 0;
}
#videobox {
    width: 980px;
    position: relative;
    text-align: center;
    background-color: #000;
    outline:none;
}
video {
    width: 100%;
    height: 100%;
}
/*:-webkit-full-screen-ancestor{
	height:100%;
	width:100%;
	position: fixed;
	top:0;
	left:0;
}*/

#videobox:-webkit-full-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.query {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 200px;
    right: 0;
}
.actioncover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.controlbox a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
.mutebtn {
    font-size: 30px;
}
.controlbox {
    line-height: 50px;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 2px;
    left: 0;
    box-shadow: 0px 1px 5px #e5e5e5;
    background-color: rgba(69, 68, 68, 0.3);
    color: #fff;
    display: -webkit-box;
    display: box;
    visibility: hidden;
}
.leftbox {
    width: 130px;
}
.midbox {
    -webkit-box-flex: 1;
}
.rightbox {
    width: 220px;
}
#switchplaybtn {
    display: inline-block;
    margin-right: 15px;
    font-size: 30px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.progressbarbox {
    width: 98%;
    height: 15px;
    /* box-shadow: inset 0px 0px 25px 1px #494848;*/
    
    display: inline-block;
    background-color: #fff;
    border-radius: 7px;
    position: relative;
    background-color: rgba(181, 179, 179, 0.9);
}
.cacheprogressbox{
	 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:7px;
    overflow: hidden;
}
.cacheprogress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius:7px;
    background-color: #5c5757;
}
.playgrogress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    background-color: rgba(255, 255, 255, 0.7);
}
.playgrogress .scrollbtn {
    position: absolute;
    right: -7px;
    top: -2px;
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.mutebox {
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.volumeprogressbox {
    height: 100px;
    width: 6px;
    padding: 13px 5px;
    background-color: rgba(69, 68, 68, 1);
    position: absolute;
    bottom: 60px;
    left: 5px;
    border-radius: 6px;
    display: none;
}
.volumebox {
    height: 100%;
    width: 6px;
    background-color: #727070;
    border-radius: 5px;
    position: relative;
}
.volumesel {
    height: 0%;
    width: 6px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}
.volumbtn {
    position: absolute;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -2px;
    background-color: #fff;
}
.imagequalitybox {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}
.currentquality {
    font-size: 18px;
}
.imagequalitybox ul {
    position: absolute;
    bottom: 60px;
    left: -15px;
    background-color: rgba(69, 68, 68, 1);
    list-style: none;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #afaaa8;
    display: none;
}
.imagequalitybox ul li:hover {
    color: #fff;
    cursor: pointer;
}
#swfullscreen {
    font-size: 30px;
}
.loadingbox {
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    overflow: visible;
    -moz-animation: borderscroll 1s linear 0s infinite;
    border-radius: 50%;
    -webkit-animation: borderscroll 1s linear 0s infinite;
    animation: borderscroll 1s linear 0s infinite;
    box-shadow: 0px 2px 1px #0000FF, 0px -2px 1px #FFE000, -2px 0px 1px #00FF00, 2px 0px 1px #FF0000;
}
.loadingbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    height: 6px;
    width: 6px;
    -webkit-transform-origin: center center;
    -webkit-animation: loading-orbit 4s infinite linear;
}
.loadingbox > div::before {
    position: absolute;
    left: calc(50% - 1px);
    display: block;
    content: '';
    height: 2px;
    width: 2px;
    border-radius: 50%;
    -webkit-animation: loading-orbit-before 1s infinite ease-in-out;
    -webkit-transform: scale(1);
}
.loadingbox > div:nth-child(1)::before {
    background-color: #3369E8;
}
.loadingbox > div:nth-child(2)::before {
    background-color: #D50F25;
}
.loadingbox > div:nth-child(3)::before {
    background-color: #009925;
}
.loadingbox > div:nth-child(4)::before {
    background-color: #EEB211;
}
.loadingbox > div:nth-child(1) {
    -webkit-animation-delay: 0s;
}
.loadingbox > div:nth-child(2) {
    -webkit-animation-delay: -.75s;
}
.loadingbox > div:nth-child(3) {
    -webkit-animation-delay: -1.5s;
}
.loadingbox > div:nth-child(4) {
    -webkit-animation-delay: -2.25s;
}
.loadingbox > div:nth-child(1)::before {
    -webkit-animation-delay: 0s;
}
.loadingbox > div:nth-child(2)::before {
    -webkit-animation-delay: -.5s;
}
.loadingbox > div:nth-child(3)::before {
    -webkit-animation-delay: -1s;
}
.loadingbox > div:nth-child(4)::before {
    -webkit-animation-delay: -1.5s;
}
@-webkit-keyframes loading-orbit {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading-orbit-before {
    0% {
        height: 5px;
        width: 5px;
        -webkit-transform: translate3d(0, 0, 0);
        z-index: 5;
    }
    5% {
        height: 7.5px;
        width: 7.5px;
    }
    25% {
        height: 10px;
        width: 10px;
        z-index: 10;
    }
    50% {
        -webkit-transform: translate3d(1px, 25px, 0);
        z-index: 0;
        height: 5px;
        width: 5px;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        z-index: 0;
        height: 5px;
        width: 5px;
    }
}
@keyframes borderscroll {
    from {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes borderscroll {
    from {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
