@charset "utf-8";
body, div, h1, h2, h3, ul, li, ol, table, tr, td {
    margin: 0;
    padding: 0;
}
#videobox {
    width: 980px;
    position: relative;
    text-align: center;
    background-color: #000;
}
video {
    width: 100%;
    height: 100%;
}
/*:-webkit-full-screen-ancestor{
	height:100%;
	width:100%;
	position: fixed;
	top:0;
	left:0;
}*/

#videobox:-webkit-full-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.query {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 200px;
    right: 0;
}
.controlbox a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
.mutebtn {
    font-size: 30px;
}
.controlbox {
    line-height: 50px;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 2px;
    left: 0;
    box-shadow: 0px 1px 5px #e5e5e5;
    background-color: rgba(69, 68, 68, 0.3);
    color: #fff;
    display: -webkit-box;
    display: box;
    visibility: hidden;
}
.leftbox {
    width: 130px;
}
.midbox {
    -webkit-box-flex: 1;
}
.rightbox {
    width: 220px;
}
#switchplaybtn {
    display: inline-block;
    margin-right: 15px;
    font-size: 30px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.progressbarbox {
    width: 98%;
    height: 15px;
    /* box-shadow: inset 0px 0px 25px 1px #494848;*/
    
    display: inline-block;
    background-color: #fff;
    border-radius: 7px;
    position: relative;
    background-color: rgba(181, 179, 179, 0.9);
}
.cacheprogress {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    background-color: #5c5757;
}
.playgrogress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    background-color: rgba(255, 255, 255, 0.7);
}
.playgrogress .scrollbtn {
    position: absolute;
    right: -7px;
    top: -2px;
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.mutebox {
    display: inline-block;
    position: relative;
    margin-left:15px;
}
.volumeprogressbox {
    height: 100px;
    width: 6px;
    padding: 5px 5px;
    background-color: rgba(69, 68, 68, 1);
    position: absolute;
    bottom: 60px;
    left: 0;
    border-radius: 6px;
    display: none;
}
.volumebox {
    height: 100%;
    width: 6px;
    background-color: #727070;
    border-radius: 5px;
    position: relative;
}
.volumesel {
    height: 50%;
    width: 6px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}
.volumbtn {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -2px;
    background-color: #fff;
}
.imagequalitybox {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}
.currentquality {
    font-size: 18px;
}
.imagequalitybox ul {
    position: absolute;
    bottom: 60px;
    left: -15px;
    background-color: rgba(69, 68, 68, 1);
    list-style: none;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #afaaa8;
    display: none;
}
.imagequalitybox ul li:hover {
    color: #fff;
    cursor: pointer;
}
#swfullscreen{
	font-size:30px;
}